# Пример файла окружения для настройки параметров приложения.
# Скопируйте этот файл в .env и измените значения при необходимости.
# Параметры ОПЦИОНАЛЬНЫ, при отсутствии какого-либо параметра
# его значение устанавливается по умолчанию.

# === Режим отладки ===
DEBUG=true|false

# === Настройки логирования ===
LOG_DIR=полный/путь/к/директории/логов
LOG_FILENAME=имя_файла.log
MIN_LOG_LEVEL=DEBUG | INFO | WARNING | ERROR | CRITICAL